extends layout/layout

block content
  div.main-color.full-wh.clearfix
    form#login.form-signin(action='/room' method='post')
      h2.form-signin-heading
        |드루와 드루와
      input#nick.input-lg.form-control(type='text' name='nickname' placeholder='관등성명' autocomplete='off' maxlength='20' required autofocus)
      p
      button.btn-lg.btn-block(type='submit') 들어가기
    div.anytext
      h4
        | 아무 말 하기 딱 좋은 날씨네,
