doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
    meta(name='viewport' content='width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='format-detection' content='telephone=no')
    link(rel='stylesheet', type='text/css', href='css/style.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
    script(src='http://code.jquery.com/jquery-1.11.0.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
    script(src='/script/room.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js')
    title 방안이야
  body
    nav.nav-bar
    div.content-box
      div.content-top
        div#chatbox
          ul#messages
        div#userlist.hidden-xs
          div#nickname
            = nickname
      div.content-bottom
        form#chat_bar
          input#mi.form-control(type='textarea' autocomplete='off' placeholder='내용을 입력하세요(최대 100자)' maxlength='100')
          button#mb.btn.btn-submit.btn-block(type='submit') 보내기
