extends layout/layout_room
block content
    nav.nav-bar
    div.content-box
      div.content-top
        div#chatbox
          ul#messages
        div#userlist.hidden-xs
          div#nickname
            = nickname
      div.content-bottom
        form#chat_bar
          input#mi.form-control(type='textarea' autocomplete='off' placeholder='내용을 입력하세요(최대 100자)' maxlength='100')
          button#mb.btn.btn-submit.btn-block(type='submit') 보내기
