doctype html
html
  head
    include head.jade
    script(src='/script/room.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js')
    title= title
  body
    block content
